{
    "hosts": ["x.x.x.x"],
    "username": "username",
    "username_pw": "username_pw",

    "swap_memory": "1G",

    "db_name": "demo",
    "db_user": "demo",
    "db_pw": "demo_pw",

    "APP_NAME": "demo_project",
    "REPO_URL": "",
    "BITBUCKET_USER": "",
    "BITBUCKET_PASSWORD": "",
    "REPO_SLUG": "",
    "REPO_USER": "",

    "ENV": ""
}